@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Raleway;
}
.section1{
    background: #fff;
    text: #151515;
    min-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2{
    background: #202020;
    color: #fff;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.ScrollDown{
    font-size:30px;

}
section:nth-child(1){
    color: #ffffff;
}

section:nth-child(2){
    color: #42455a;
    background: #ffffff;
}
section:nth-child(3){
    color: #ffffff;
}
section:nth-child(4){
    color: #42455a;
    background: #ffffff;
}
section .container{
    margin: 10px;
}
section h1{
    font-size: 3rem;
    margin: 20px;
}
section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
section .text-container{
    display: flex;
}
section .text-container .text-box{
    position:relative;
    bottom: 100px;
    margin: auto;
    width: 50%;

    padding: 10px;

}
section .text-container .text-box h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    section h1{
        font-size: 2rem;
        text-align: center;
    }
    section .text-container{
        flex-direction: column;
    }
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


.Copyright
{
    font-family: Asap;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #000;
}

div.container
{
    position: relative;
    left: 10px;
    font-family: Raleway;
    margin: 0 auto;
    padding: 2em 1em;
    text-align: center;
    height: 25px;
    width: 1800px;
    border-radius: 10px;

}



div.container a
{
    color: #000;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;


}


div.topBotomBordersIn a:before, div.topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

div.topBotomBordersIn a:hover:before, div.topBotomBordersIn a:hover:after
{
    opacity: 0.9;
    transform: translateY(0px);
}

.slideDiv1{
    width:100%;
    padding: 7em 1em;
}
.slideDiv2{
    transform: translateY(100%);
    width:100%;
    padding: 1em 1em;
}

.slideDiv3
{
    padding: 1em 1em;
}
.HomeLogo {
    position: relative;
    right: 915px;
    bottom: 77px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4%;
    height: auto;
    opacity: 1;
    transition: 0.2s;
}
.HomeLogo:hover{

    transform: scale(1.1);

}


.slideLogoDiv2{
    display: block;
    width: 10%;
    height: auto;
    margin: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim2 2s ease-out forwards;
}




.text1{
    font-family: 'Raleway';
    font-size: 50px;
    text-align: center;
    text-shadow: .1em .1em 0 hsla(9, 4%, 37%, 0.45);
    margin: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
}

.text2{
    font-family: 'Raleway';
    background: -webkit-linear-gradient(#c57359, #56575d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    text-align: center;
    text-shadow: .1em .10em 0 hsla(9, 4%, 37%, 0.45);
    margin: 0;
    margin-left: 50%;
    transform: translateX(-200%);
    opacity: 0;
    animation: slide-in-anim2 1s ease-out forwards;
}




@keyframes slide-in-anim {
    20% {
        opacity: 0;
    }
    60% {
        transform: translateX(-45%);
    }
    75% {
        transform: translateX(-52%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes slide-in-anim2 {
    30% {
        opacity: 0;
    }
    75% {
        transform: translateX(-45%);
    }
    90% {
        transform: translateX(-52%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

@keyframes slide-in-anim3 {
    40% {
        opacity: 0;
    }
    85% {
        transform: translateX(-45%);
    }
    95% {
        transform: translateX(-52%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}


.HoverExpand{
    position:relative;
    bottom:100px;
    text-align:center;
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.BigBox1{
    transform: translateY(-42%);
    text-align:center;
    height: auto;

    padding: 20px;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    display: inline-block;


}

.BigBox2{
    transform: translateY(-18%);
    text-align:center;
    height: auto;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;




}


.SmallBox1{

     transition: 0.2s;
     transform: translateY(2%);

 }

.SmallBox{

    transition: 0.2s;


}

.SmallBox:hover{
    transform: scale(1.1);

    z-index: 2;


}
.SmallBox1:hover{
    transform: scale(1.1);

    z-index: 2;


}


.ContactImages1{



}

.ContactImages{



}

.ContactImages:hover{


    animation: Images 1s ease;
}

.ContactImages1:hover{

    transform: translateY(-5%);
    animation: Images 1s ease;
}

@keyframes Images {

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}








